# TINO IQ ASSIGNMENT

### <span style="color:orange">AUTHOR:  <br><br>**Manasi Chhibber**</span>

### <span style="color:orange">AIM:  <br><br>To predict value of variable (target) for next 6 quarters using Pycaret package.</span>

### <span style="color:orange">THEORY:  <br><br>PyCaret is an open source ML library that eases the process of preparing the data to deploying the model. Here, as the 'Target' attribute has continuous type values, hence we'll use PyCaret Regression technique.</span>

### Importing Libraries

In [1]:
import pandas as pd                   # for reading the csv file
from pycaret.regression import *      # for setting up a regression model
import matplotlib.pyplot as plt       # for plotting graphs
import time                           # to keep record of training/testing time
from sklearn.metrics import r2_score  # for checking accuracy

### Getting our Data

In [2]:
df = pd.read_csv('fred_quarterly.csv')
df

         date    month quarter     Target        gnp   gdpdef        gdp
0    1/1/2000  2000-01  2000Q1  12935.252  10035.263   77.325  10002.179
1    4/1/2000  2000-04  2000Q2  13170.749  10283.391   77.807  10247.720
2    7/1/2000  2000-07  2000Q3  13183.890  10348.645   78.263  10318.165
3   10/1/2000  2000-10  2000Q4  13262.250  10490.430   78.688  10435.744
4    1/1/2001  2001-01  2001Q1  13219.251  10510.297   79.204  10470.231
5    4/1/2001  2001-04  2001Q2  13301.394  10647.427   79.683  10599.000
6    7/1/2001  2001-07  2001Q3  13248.142  10623.039   79.996  10598.020
7   10/1/2001  2001-10  2001Q4  13284.881  10748.408   80.245  10660.465
8    1/1/2002  2002-01  2002Q1  13394.910  10833.143   80.504  10783.500
9    4/1/2002  2002-04  2002Q2  13477.356  10918.384   80.783  10887.460
10   7/1/2002  2002-07  2002Q3  13531.741  11027.515   81.172  10984.040
11  10/1/2002  2002-10  2002Q4  13549.421  11120.565   81.638  11061.433
12   1/1/2003  2003-01  2003Q1  13619.434  11217.689   82.045  11174.129
13   4/1/2003  2003-04  2003Q2  13741.107  11369.131   82.328  11312.766
14   7/1/2003  2003-07  2003Q3  13970.157  11621.172   82.796  11566.669
15  10/1/2003  2003-10  2003Q4  14131.379  11851.792   83.306  11772.234
16   1/1/2004  2004-01  2004Q1  14212.340  12021.455   83.895  11923.447
17   4/1/2004  2004-04  2004Q2  14323.017  12185.610   84.569  12112.815
18   7/1/2004  2004-07  2004Q3  14457.832  12386.919   85.112  12305.307
19  10/1/2004  2004-10  2004Q4  14605.595  12581.653   85.770  12527.214
20   1/1/2005  2005-01  2005Q1  14767.846  12854.364   86.453  12767.286
21   4/1/2005  2005-04  2005Q2  14839.707  12996.998   87.082  12922.656
22   7/1/2005  2005-07  2005Q3  14956.291  13225.668   87.874  13142.642
23  10/1/2005  2005-10  2005Q4  15041.232  13378.959   88.585  13324.204
24   1/1/2006  2006-01  2006Q1  15244.088  13654.952   89.209  13599.160
25   4/1/2006  2006-04  2006Q2  15281.525  13802.877   90.000  13753.424
26   7/1/2006  2006-07  2006Q3  15304.517  13906.646   90.628  13870.188
27  10/1/2006  2006-10  2006Q4  15433.643  14083.697   90.967  14039.560
28   1/1/2007  2007-01  2007Q1  15478.956  14258.594   91.839  14215.651
29   4/1/2007  2007-04  2007Q2  15577.779  14463.277   92.453  14402.082
30   7/1/2007  2007-07  2007Q3  15671.605  14681.751   92.933  14564.117
31  10/1/2007  2007-10  2007Q4  15767.146  14875.943   93.327  14715.058
32   1/1/2008  2008-01  2008Q1  15702.906  14857.342   93.655  14706.538
33   4/1/2008  2008-04  2008Q2  15792.773  15023.210   94.130  14865.701
34   7/1/2008  2008-07  2008Q3  15709.562  15075.730   94.840  14898.999
35  10/1/2008  2008-10  2008Q4  15366.607  14704.022   95.065  14608.208
36   1/1/2009  2009-01  2009Q1  15187.475  14551.583   95.018  14430.901
37   4/1/2009  2009-04  2009Q2  15161.772  14504.001   94.852  14381.236
38   7/1/2009  2009-07  2009Q3  15216.647  14631.307   94.954  14448.882
39  10/1/2009  2009-10  2009Q4  15379.155  14826.345   95.267  14651.248
40   1/1/2010  2010-01  2010Q1  15456.059  14968.896   95.526  14764.611
41   4/1/2010  2010-04  2010Q2  15605.628  15187.024   95.992  14980.193
42   7/1/2010  2010-07  2010Q3  15726.282  15339.711   96.282  15141.605
43  10/1/2010  2010-10  2010Q4  15807.995  15522.781   96.846  15309.471
44   1/1/2011  2011-01  2011Q1  15769.911  15574.331   97.346  15351.444
45   4/1/2011  2011-04  2011Q2  15876.839  15780.006   97.989  15557.535
46   7/1/2011  2011-07  2011Q3  15870.684  15893.499   98.595  15647.681
47  10/1/2011  2011-10  2011Q4  16048.702  16102.819   98.714  15842.267
48   1/1/2012  2012-01  2012Q1  16179.968  16315.076   99.313  16068.824
49   4/1/2012  2012-04  2012Q2  16253.726  16435.293   99.713  16207.130
50   7/1/2012  2012-07  2012Q3  16282.151  16548.815  100.230  16319.540
51  10/1/2012  2012-10  2012Q4  16300.035  16647.723  100.738  16420.386
52   1/1/2013  2013-01  2013Q1  16441.485  16845.017  101.141  16629.050
53   4/1/2013  2013-04  2013Q2  16464.402  16928.625  101.428  16699.551
54   7/1/2013  2013-07  2013Q3  16594.743  17151.537  101.906  16911.068
55  10/1/2013  2013-10  2013Q4  16712.760  17368.794  102.515  17133.114
56   1/1/2014  2014-01  2014Q1  16654.247  17381.812  102.942  17144.281
57   4/1/2014  2014-04  2014Q2  16868.109  17691.165  103.525  17462.703
58   7/1/2014  2014-07  2014Q3  17064.616  17995.300  103.977  17743.227
59  10/1/2014  2014-10  2014Q4  17141.235  18075.379  104.150  17852.540
60   1/1/2015  2015-01  2015Q1  17280.647  18214.218  104.113  17991.348
61   4/1/2015  2015-04  2015Q2  17380.875  18405.862  104.677  18193.707
62   7/1/2015  2015-07  2015Q3  17437.080  18520.403  104.989  18306.960
63  10/1/2015  2015-10  2015Q4  17462.579  18565.145  104.979  18332.079
64   1/1/2016  2016-01  2016Q1  17565.465  18640.558  104.895  18425.306
65   4/1/2016  2016-04  2016Q2  17618.581  18827.942  105.636  18611.617
66   7/1/2016  2016-07  2016Q3  17724.489  18995.777  105.929  18775.459
67  10/1/2016  2016-10  2016Q4  17812.560  19243.922  106.487  18968.041
68   1/1/2017  2017-01  2017Q1  17896.623  19427.462  107.025  19153.912
69   4/1/2017  2017-04  2017Q2  17996.802  19585.223  107.369  19322.920
70   7/1/2017  2017-07  2017Q3  18126.226  19864.059  107.903  19558.693
71  10/1/2017  2017-10  2017Q4  18296.685  20219.956  108.670  19882.965
72   1/1/2018  2018-01  2018Q1  18436.262  20460.314  109.261  20143.716
73   4/1/2018  2018-04  2018Q2  18590.004  20793.247  110.234  20492.492
74   7/1/2018  2018-07  2018Q3  18679.599  20930.650  110.597  20659.102
75  10/1/2018  2018-10  2018Q4  18721.281  21101.077  111.175  20813.325
76   1/1/2019  2019-01  2019Q1  18833.195  21254.334  111.514  21001.591
77   4/1/2019  2019-04  2019Q2  18982.528  21564.924  112.152  21289.268
78   7/1/2019  2019-07  2019Q3  19112.653  21780.753  112.517  21505.012
79  10/1/2019  2019-10  2019Q4  19202.310  21955.980  112.978  21694.458
80   1/1/2020  2020-01  2020Q1  18951.992  21721.267  113.346  21481.367
81   4/1/2020  2020-04  2020Q2  17258.205  19649.442  112.859  19477.444
82   7/1/2020  2020-07  2020Q3  18560.774  21365.412  113.888  21138.574
83  10/1/2020  2020-10  2020Q4  18767.778  21728.223  114.439  21477.597
84   1/1/2021  2021-01  2021Q1  19055.655  22273.060  115.652  22038.226
85   4/1/2021  2021-04  2021Q2  19358.176        NaN  117.380  22722.581

### <span style="color:orange">PyCaret can independently handle the task of preprocessing the data, so we can directly setup the model and see what all processing it does.</span>

### Splitting Data for Training & Testing

In [3]:
train = df.iloc[:75,:]                # leaving out last 10 rows for testing
train

         date    month quarter     Target        gnp   gdpdef        gdp
0    1/1/2000  2000-01  2000Q1  12935.252  10035.263   77.325  10002.179
1    4/1/2000  2000-04  2000Q2  13170.749  10283.391   77.807  10247.720
2    7/1/2000  2000-07  2000Q3  13183.890  10348.645   78.263  10318.165
3   10/1/2000  2000-10  2000Q4  13262.250  10490.430   78.688  10435.744
4    1/1/2001  2001-01  2001Q1  13219.251  10510.297   79.204  10470.231
5    4/1/2001  2001-04  2001Q2  13301.394  10647.427   79.683  10599.000
6    7/1/2001  2001-07  2001Q3  13248.142  10623.039   79.996  10598.020
7   10/1/2001  2001-10  2001Q4  13284.881  10748.408   80.245  10660.465
8    1/1/2002  2002-01  2002Q1  13394.910  10833.143   80.504  10783.500
9    4/1/2002  2002-04  2002Q2  13477.356  10918.384   80.783  10887.460
10   7/1/2002  2002-07  2002Q3  13531.741  11027.515   81.172  10984.040
11  10/1/2002  2002-10  2002Q4  13549.421  11120.565   81.638  11061.433
12   1/1/2003  2003-01  2003Q1  13619.434  11217.689   82.045  11174.129
13   4/1/2003  2003-04  2003Q2  13741.107  11369.131   82.328  11312.766
14   7/1/2003  2003-07  2003Q3  13970.157  11621.172   82.796  11566.669
15  10/1/2003  2003-10  2003Q4  14131.379  11851.792   83.306  11772.234
16   1/1/2004  2004-01  2004Q1  14212.340  12021.455   83.895  11923.447
17   4/1/2004  2004-04  2004Q2  14323.017  12185.610   84.569  12112.815
18   7/1/2004  2004-07  2004Q3  14457.832  12386.919   85.112  12305.307
19  10/1/2004  2004-10  2004Q4  14605.595  12581.653   85.770  12527.214
20   1/1/2005  2005-01  2005Q1  14767.846  12854.364   86.453  12767.286
21   4/1/2005  2005-04  2005Q2  14839.707  12996.998   87.082  12922.656
22   7/1/2005  2005-07  2005Q3  14956.291  13225.668   87.874  13142.642
23  10/1/2005  2005-10  2005Q4  15041.232  13378.959   88.585  13324.204
24   1/1/2006  2006-01  2006Q1  15244.088  13654.952   89.209  13599.160
25   4/1/2006  2006-04  2006Q2  15281.525  13802.877   90.000  13753.424
26   7/1/2006  2006-07  2006Q3  15304.517  13906.646   90.628  13870.188
27  10/1/2006  2006-10  2006Q4  15433.643  14083.697   90.967  14039.560
28   1/1/2007  2007-01  2007Q1  15478.956  14258.594   91.839  14215.651
29   4/1/2007  2007-04  2007Q2  15577.779  14463.277   92.453  14402.082
30   7/1/2007  2007-07  2007Q3  15671.605  14681.751   92.933  14564.117
31  10/1/2007  2007-10  2007Q4  15767.146  14875.943   93.327  14715.058
32   1/1/2008  2008-01  2008Q1  15702.906  14857.342   93.655  14706.538
33   4/1/2008  2008-04  2008Q2  15792.773  15023.210   94.130  14865.701
34   7/1/2008  2008-07  2008Q3  15709.562  15075.730   94.840  14898.999
35  10/1/2008  2008-10  2008Q4  15366.607  14704.022   95.065  14608.208
36   1/1/2009  2009-01  2009Q1  15187.475  14551.583   95.018  14430.901
37   4/1/2009  2009-04  2009Q2  15161.772  14504.001   94.852  14381.236
38   7/1/2009  2009-07  2009Q3  15216.647  14631.307   94.954  14448.882
39  10/1/2009  2009-10  2009Q4  15379.155  14826.345   95.267  14651.248
40   1/1/2010  2010-01  2010Q1  15456.059  14968.896   95.526  14764.611
41   4/1/2010  2010-04  2010Q2  15605.628  15187.024   95.992  14980.193
42   7/1/2010  2010-07  2010Q3  15726.282  15339.711   96.282  15141.605
43  10/1/2010  2010-10  2010Q4  15807.995  15522.781   96.846  15309.471
44   1/1/2011  2011-01  2011Q1  15769.911  15574.331   97.346  15351.444
45   4/1/2011  2011-04  2011Q2  15876.839  15780.006   97.989  15557.535
46   7/1/2011  2011-07  2011Q3  15870.684  15893.499   98.595  15647.681
47  10/1/2011  2011-10  2011Q4  16048.702  16102.819   98.714  15842.267
48   1/1/2012  2012-01  2012Q1  16179.968  16315.076   99.313  16068.824
49   4/1/2012  2012-04  2012Q2  16253.726  16435.293   99.713  16207.130
50   7/1/2012  2012-07  2012Q3  16282.151  16548.815  100.230  16319.540
51  10/1/2012  2012-10  2012Q4  16300.035  16647.723  100.738  16420.386
52   1/1/2013  2013-01  2013Q1  16441.485  16845.017  101.141  16629.050
53   4/1/2013  2013-04  2013Q2  16464.402  16928.625  101.428  16699.551
54   7/1/2013  2013-07  2013Q3  16594.743  17151.537  101.906  16911.068
55  10/1/2013  2013-10  2013Q4  16712.760  17368.794  102.515  17133.114
56   1/1/2014  2014-01  2014Q1  16654.247  17381.812  102.942  17144.281
57   4/1/2014  2014-04  2014Q2  16868.109  17691.165  103.525  17462.703
58   7/1/2014  2014-07  2014Q3  17064.616  17995.300  103.977  17743.227
59  10/1/2014  2014-10  2014Q4  17141.235  18075.379  104.150  17852.540
60   1/1/2015  2015-01  2015Q1  17280.647  18214.218  104.113  17991.348
61   4/1/2015  2015-04  2015Q2  17380.875  18405.862  104.677  18193.707
62   7/1/2015  2015-07  2015Q3  17437.080  18520.403  104.989  18306.960
63  10/1/2015  2015-10  2015Q4  17462.579  18565.145  104.979  18332.079
64   1/1/2016  2016-01  2016Q1  17565.465  18640.558  104.895  18425.306
65   4/1/2016  2016-04  2016Q2  17618.581  18827.942  105.636  18611.617
66   7/1/2016  2016-07  2016Q3  17724.489  18995.777  105.929  18775.459
67  10/1/2016  2016-10  2016Q4  17812.560  19243.922  106.487  18968.041
68   1/1/2017  2017-01  2017Q1  17896.623  19427.462  107.025  19153.912
69   4/1/2017  2017-04  2017Q2  17996.802  19585.223  107.369  19322.920
70   7/1/2017  2017-07  2017Q3  18126.226  19864.059  107.903  19558.693
71  10/1/2017  2017-10  2017Q4  18296.685  20219.956  108.670  19882.965
72   1/1/2018  2018-01  2018Q1  18436.262  20460.314  109.261  20143.716
73   4/1/2018  2018-04  2018Q2  18590.004  20793.247  110.234  20492.492
74   7/1/2018  2018-07  2018Q3  18679.599  20930.650  110.597  20659.102

In [4]:
test = df.iloc[75:,:]
test

         date    month quarter     Target        gnp   gdpdef        gdp
75  10/1/2018  2018-10  2018Q4  18721.281  21101.077  111.175  20813.325
76   1/1/2019  2019-01  2019Q1  18833.195  21254.334  111.514  21001.591
77   4/1/2019  2019-04  2019Q2  18982.528  21564.924  112.152  21289.268
78   7/1/2019  2019-07  2019Q3  19112.653  21780.753  112.517  21505.012
79  10/1/2019  2019-10  2019Q4  19202.310  21955.980  112.978  21694.458
80   1/1/2020  2020-01  2020Q1  18951.992  21721.267  113.346  21481.367
81   4/1/2020  2020-04  2020Q2  17258.205  19649.442  112.859  19477.444
82   7/1/2020  2020-07  2020Q3  18560.774  21365.412  113.888  21138.574
83  10/1/2020  2020-10  2020Q4  18767.778  21728.223  114.439  21477.597
84   1/1/2021  2021-01  2021Q1  19055.655  22273.060  115.652  22038.226
85   4/1/2021  2021-04  2021Q2  19358.176        NaN  117.380  22722.581

### Model Setup

In [5]:
model = setup(data = train, 
             target = 'Target',                                   # setting the predictor variable
             numeric_imputation = 'mean',                         # to replace null values with mean of that attribute
             numeric_features = ['gnp','gdpdef','gdp'],           # listing all numerical type attributes
             categorical_features = ['quarter','date','month'],   # listing all categorical type attributes
             normalize = True,                                    # we don't want skewed data
             silent = True)

### <span style="color:orange">As it can be seen here, data was normalized and perfect collinear attributes were removed.</span>

### Model Comparison

In [6]:
# comparing different models
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=5060, verbose=0, warm_start=False)

### <span style="color:orange">Extra Trees Regressor and CatBoost Regressor being tree based, will divide the results into categories (there maybe a lot many different results, but still they will be categories only, based on conditions that are checked at each and every level of a tree). Rather than 'calculating' the 'Target', it would be classified into a group. Hence, skipping these 2 and going for Lasso Regression.</span>

### <span style="color:orange">LASSO REGRESSION:  <br><br> Lasso regression is a regularization technique. It is used over regression methods for a more accurate prediction. This model uses shrinkage. Shrinkage is where data values are shrunk towards a central point as the mean. </span>

<img src = 'https://miro.medium.com/max/1313/1*n-fid04EiwcTZZPO0RXlMQ.gif'>

### Model Building

In [7]:
start = time.time()                              # to calculate the training time
model = create_model('lasso')
stop = time.time()
print(f"Training time: {stop - start}s")

Training time: 0.16577696800231934s

In [8]:
# tuning the parameters is good
tuned_model = tune_model(model)

In [9]:
# our model is ready!

### <span style="color:orange">Using Lasso Regression, an accuracy till 99.24% can be reached.</span>

### Making Predictions on Training Set

In [10]:
train_1 = train.drop(['Target'], axis=1)                                                         # dropping the 'Train' attribute so that predictions could be made
train_predictions = predict_model(tuned_model, data = train_1)                                   # making the predictions
train_predictions = train_predictions.rename(columns = {'Label':'Target'})                       # renaming the resulting column as our 'Target'
print(f"Train accuracy: {round(r2_score(train['Target'], train_predictions['Target'])*100,2)}%") # using R2 score to compute accuracy
train_predictions

Train accuracy: 99.16%

         date    month quarter        gnp   gdpdef        gdp        Target
0    1/1/2000  2000-01  2000Q1  10035.263   77.325  10002.179  13163.648438
1    4/1/2000  2000-04  2000Q2  10283.391   77.807  10247.720  13287.698242
2    7/1/2000  2000-07  2000Q3  10348.645   78.263  10318.165  13323.288086
3   10/1/2000  2000-10  2000Q4  10490.430   78.688  10435.744  13382.690430
4    1/1/2001  2001-01  2001Q1  10510.297   79.204  10470.231  13400.114258
..        ...      ...     ...        ...      ...        ...           ...
70   7/1/2017  2017-07  2017Q3  19864.059  107.903  19558.693  17991.722656
71  10/1/2017  2017-10  2017Q4  20219.956  108.670  19882.965  18155.546875
72   1/1/2018  2018-01  2018Q1  20460.314  109.261  20143.716  18287.283203
73   4/1/2018  2018-04  2018Q2  20793.247  110.234  20492.492  18463.488281
74   7/1/2018  2018-07  2018Q3  20930.650  110.597  20659.102  18547.662109

[75 rows x 7 columns]

### Making Predictions on Test Set

In [11]:
test_1 = test.drop(['Target'], axis=1)                        # dropping the 'Train' attribute so that predictions could be made
start = time.time()                                           # to calculate the testing time
test_predictions = predict_model(tuned_model, data = test_1)  # making predictions
stop = time.time()
print(f"Testing time: {stop - start}s")

test_predictions = test_predictions.rename(columns = {'Label':'Target'})  # renaming the resulting column as our 'Target'

error = 0                                                     # counter for error calculation; initially set 0
expected = list(test['Target'])                               # making lists for expected & predicted results
predicted = list(test_predictions['Target'])
for i in range(11):
    # finding the absolute error for each value (or iteration), summing it up 
    # and multiplying it by 100 to compute the percentage error
    error += abs((abs((expected[i] - predicted[i])))/expected[i])*100   
print(f"Mean absolute error: {round(error,2)}%")              # printing out that error percentage to 2 decimal places       
print(f"Accuracy: {100-round(error,2)}%")                     # 100 - (percentage of error) will give us the percentage of accuracy     
test_predictions

Testing time: 0.0722966194152832s
Mean absolute error: 11.65%
Accuracy: 88.35%

         date    month quarter        gnp   gdpdef        gdp        Target
75  10/1/2018  2018-10  2018Q4  21101.077  111.175  20813.325  18625.576172
76   1/1/2019  2019-01  2019Q1  21254.334  111.514  21001.591  18720.691406
77   4/1/2019  2019-04  2019Q2  21564.924  112.152  21289.268  18866.029297
78   7/1/2019  2019-07  2019Q3  21780.753  112.517  21505.012  18975.027344
79  10/1/2019  2019-10  2019Q4  21955.980  112.978  21694.458  19070.736328
80   1/1/2020  2020-01  2020Q1  21721.267  113.346  21481.367  18963.082031
81   4/1/2020  2020-04  2020Q2  19649.442  112.859  19477.444  17950.673828
82   7/1/2020  2020-07  2020Q3  21365.412  113.888  21138.574  18789.898438
83  10/1/2020  2020-10  2020Q4  21728.223  114.439  21477.597  18961.175781
84   1/1/2021  2021-01  2021Q1  22273.060  115.652  22038.226  19244.414062
85   4/1/2021  2021-04  2021Q2        NaN  117.380  22722.581  19590.158203

### Making Predictions for the next 6 Quarters

In [12]:
# but first, let's create a sample set for the next 6 quarters
data = [['7/1/2021', '2021-07', '2021Q3', 23768.420, 118.575, 23498.231],  # quarter-1
        ['10/1/2021', '2021-10', '2021Q4', 22832.897, 116.235, 22143.997], # quarter-2
        ['1/1/2022', '2022-01', '2022Q1', 21435.112, 115.789, 18765.309],  # quarter-3
        ['4/1/2022', '2022-04', '2022Q2', 24310.577, 119.690, 20320.005],  # quarter-4
        ['7/1/2022', '2022-07', '2022Q3', 23994.312, 117.719, 21845.269],  # quarter-5
        ['10/1/2022', '2022-10', '2022Q4', 22984.351, 118.748, 19118.800]] # quarter-6
 
# creating the pandas DataFrame
final_test = pd.DataFrame(data, columns = ['date','month','quarter','gnp','gdpdef','gdp'])
final_test

        date    month quarter        gnp   gdpdef        gdp
0   7/1/2021  2021-07  2021Q3  23768.420  118.575  23498.231
1  10/1/2021  2021-10  2021Q4  22832.897  116.235  22143.997
2   1/1/2022  2022-01  2022Q1  21435.112  115.789  18765.309
3   4/1/2022  2022-04  2022Q2  24310.577  119.690  20320.005
4   7/1/2022  2022-07  2022Q3  23994.312  117.719  21845.269
5  10/1/2022  2022-10  2022Q4  22984.351  118.748  19118.800

In [13]:
# making the predictions on the sample set
predictions = predict_model(tuned_model, data = final_test)
predictions = predictions.rename(columns = {'Label':'Target'})
predictions

        date    month quarter        gnp   gdpdef        gdp        Target
0   7/1/2021  2021-07  2021Q3  23768.420  118.575  23498.231  19982.027344
1  10/1/2021  2021-10  2021Q4  22832.897  116.235  22143.997  19297.849609
2   1/1/2022  2022-01  2022Q1  21435.112  115.789  18765.309  17590.894531
3   4/1/2022  2022-04  2022Q2  24310.577  119.690  20320.005  18376.345703
4   7/1/2022  2022-07  2022Q3  23994.312  117.719  21845.269  19146.929688
5  10/1/2022  2022-10  2022Q4  22984.351  118.748  19118.800  17769.482422

### <span style="color:orange">The 'Target' attribute shows the final predictions.</span>

### Saving the Predictions in a csv file

In [14]:
predictions.to_csv('ManasiChhibber_TargetPredictions.csv')